<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
    </div>
    <br>
    <div class="row">
      <p class="lead"><b>
        This is a library portal for IIT Madras.
      </b>
      </p>
    </div>
  </div>
  <div class="row">
    <p><b>The joy of reading books can't be described in words. It's something that you understand only by real experience.
There is much more to life than your work, and the time that you spend aimlessly using the latest technology products. Reading books gives you that much needed break from the chaos in your life. It instills peace inside you, makes you relaxed and also exercises your brain in the process.
When you read a book, it feels great to put yourself into a world the writer has created for you. Ask any avid reader about this, and they too will agree that reading a book is same like watching a movie.</b>

    </p>
  </div>
  <div class="well">
    <h2>DOCUMENTATION</h2>
    <p>
      I havw used the following conponents for making this app:
      <ul>
        <li>MONGODB
        </li>
        <!-- <li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
				</li> -->
        <li>EXPRESS JS
        </li>
        <li>ANGULAR JS
        </li>
        <li>NODEJS
        </li>
      </ul>
    </p>
  </div>
  <br>Enjoy &amp; Keep Us Updated,
  <br>Aniket Kamthe
</section>
